<div class="card">
    <div class="card-body">
      <!-- form starts -->

      <div class="table-responsive">
        <table class="table table-bordered">
          <!-- table head starts -->
          <thead>
            <tr>
              <th colspan="4">Upload JD</th>
  
            </tr>
            <tr>
              <th scope="col">File to upload</th>
              <th scope="col">                
                Scan Resumes</th>
      
            </tr>
          </thead>
          <!-- table head ends -->
          <!-- table body starts  -->
          <tbody>
            <tr>
              <td>              
                <app-job-description></app-job-description>
              </td>
              <td><a id="v-pills-letter-tab" data-toggle="pill" routerLinkActive="active" role="tab" routerLink="scan-resumes"
                aria-controls="v-pills-letter" aria-selected="true" class="list-group-item list-group-item-success clickable"
                data-parent="#MainMenu">Scan Resumes</a></td>
           
            </tr>
          </tbody>
          <!-- table body ends -->
        </table>
  
        <div *ngIf="projectList && projectList.length<=0">
          No record found.
        </div>
      </div>
    </div>
  </div>
  
 